<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ (song$ | async)?.songName }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding-vertical" *ngIf="song$ | async as song">
    <ion-card-title class="ion-padding-horizontal">Artist</ion-card-title>
    <ion-card-content>
      The song {{ song?.songName }} was released by {{ song?.artistName }}.
    </ion-card-content>
    <ion-card-title class="ion-padding-horizontal">Album</ion-card-title>
    <ion-card-content>
      It was part of the {{ song?.albumName }} album.
    </ion-card-content>
    <ion-card-title class="ion-padding-horizontal">Description</ion-card-title>
    <ion-card-content>
      {{ song?.songDescription }}
    </ion-card-content>
  </ion-card>
</ion-content>
