<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ (song$ | async)?.songName }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="song$ | async as song">
    <h3>Artist</h3>
    <p>
      The song {{ song?.songName }} was released by {{ song?.artistName }}.
    </p>

    <h3>Album</h3>
    <p>
      It was part of the {{ song?.albumName }} album.
    </p>

    <h3>Description</h3>
    <p>
      {{ song?.songDescription }}
    </p>
  </ng-container>
</ion-content>
