<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Create Song</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="createSongForm" (submit)="createSong()">
    <ion-item>
      <ion-input formControlName="songName" type="text" placeholder="Song Name">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        formControlName="artistName"
        type="text"
        placeholder="Artist Name"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        formControlName="albumName"
        type="text"
        placeholder="Album Name"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea
        formControlName="songDescription"
        type="text"
        placeholder="Description"
      >
      </ion-textarea>
    </ion-item>

    <ion-button
      class="ion-margin-top"
      expand="block"
      type="submit"
      [disabled]="!createSongForm.valid"
    >
      Add Song
    </ion-button>
  </form>
</ion-content>
