<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Song List</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/create">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let song of songs$ | async">
      <ion-item [routerLink]="['/','detail', song.id]">
        <ion-grid
          ><ion-row
            ><ion-col><b>{{ song.songName }}</b></ion-col>
            <ion-col>{{ song.artistName }}</ion-col></ion-row
          ></ion-grid
        ></ion-item
      ><ion-item-options
        ><ion-button color="danger" expand="full" (click)="deleteSong(song.id)"
          ><ion-icon name="trash" slot="start" expand="full"></ion-icon
          >Delete</ion-button
        ></ion-item-options
      ></ion-item-sliding
    ></ion-list
  >
</ion-content>
