<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Song List</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/create">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card
      *ngFor="let song of songs$ | async"
      [routerLink]="['/','detail', song.id]"
      ><ion-card-header><b>{{ song.songName }}</b></ion-card-header
      ><ion-card-content>{{ song.artistName }}</ion-card-content></ion-card
    ></ion-list
  >
</ion-content>
